* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  background-color: #212121;
}

h1 {
  letter-spacing: 2px;
  font-weight: 1000;
  font-size: 50px;
  padding: 35px 25px 30px 25px;
  color: white;
}

canvas {
  background-color: #212121;
}
